.Maintext{
	background-color: #FFF;
	margin-left: 60px;
	margin-right: 60px;
	padding: 20px 60px 5% 60px;
	border: solid 1px #000;
} 

.Container {
	background-color: #4aa4a8;
}

img {
	width: 25em;
	height: 13em;
	border: solid 2px #000000;

}
.imgvloot1 {
	float: left;
	margin: 1%;
	box-sizing: border-box;
}
.imgvloot2 {
	float: right;
		margin: 1%;
}
.imgvloot3 {
	float: left;
	margin: 1%;
}

p {
	font-size: 25px;
}


